body {
  background-color: rgb(29, 64, 97);
  color: white;
}

header {
  text-align: center;
}

button {
  padding: 4px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#choose-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid whitesmoke;
  padding: 16px;
}

#game-container {
  display: none;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
  border: 2px solid whitesmoke;
  padding: 16px;
  background-color: darkgreen;
}

#game-screen {
  background-color: rgb(7, 43, 7);
  min-height: 400px;
  display: flex;
  padding: 10px;
}
